# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_AM335X=y
CONFIG_SOC_AM3358=y
CONFIG_BOARD_BEAGLEBONE_BLACK=y

CONFIG_ARM=y
CONFIG_CPU_CORTEX_A8=y

CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y

CONFIG_GPIO=y

CONFIG_PRINTK=y
CONFIG_EARLY_CONSOLE=y

CONFIG_XIP=n
